
keyboard --vckeymap=us --xlayouts='us'
lang en_US.UTF-8
timezone America/Recife --utc

skipx

clearpart --all --initlabel
autopart --type=plain --fstype=ext4 --nohome --noswap --noboot

rootpw --allow-ssh --plaintext vagrant
user --groups=wheel --name=vagrant --password=vagrant --plaintext

%packages --excludedocs --ignoremissing
-fedora-productimg-cloud
fedora-productimg-server
-fedora-productimg-workstation

# pungi is an inclusive depsolver so that multiple packages are brought 
# in to satisify dependencies and we don't always want that. So we  use
# an exclusion list to cut out things we don't want

-kernel*debug*
-kernel-kdump*
-kernel-tools*
-syslog-ng*
-astronomy-bookmarks
-generic-logos*
-generic-release*
-GConf2-dbus*
-bluez-gnome
-community-mysql*

# core
kernel*
dracut-*

# No desktops
-cinnamon*
-enlightenment*
-gnome-shell
-gnome-session
-kde*
-lightdm-kde
-lightdm-razorqt
# Pulls in qt
-oprofile-gui

-@legacy-fonts

-@multimedia

-nvidia*
-plymouth*
-ModemManager*
-amd-ucode*
-amd-gpu*
-intel-gpu*
-adwaita*
-*firmware*

%end

# services
services --enabled=sshd

firewall --enabled --ssh

firstboot --disable

%post
echo "vagrant ALL=(ALL) NOPASSWD: ALL" >> /etc/sudoers.d/vagrant
umask 007
sudo -u vagrant mkdir -p ~vagrant/.ssh
echo "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIDFFYNYYwfq1efJkKqh0Vb+J6wNwNe0Kx6wFhaWkgIL8 vagrant@network-labs" | sudo -u vagrant tee ~vagrant/.ssh/authorized_keys
%end

reboot

