
keyboard --vckeymap=us --xlayouts='us'
lang en_US.UTF-8
timezone America/Recife --utc

skipx

clearpart --all --initlabel
autopart --type=plain --fstype=ext4 --nohome --noswap --noboot

rootpw --allow-ssh --plaintext vagrant
user --groups=wheel --name=vagrant --password=vagrant --plaintext

%packages --excludedocs --ignoremissing
sudo
qemu-guest-agent
openssh-server
-nvidia*
-plymouth*
-ModemManager*
-amd-ucode*
-amd-gpu*
-intel-gpu*
-adwaita*
-*firmware*
%end

# services
services --enabled=sshd

firewall --enabled --ssh

firstboot --disable

%post
echo "vagrant ALL=(ALL) NOPASSWD: ALL" >> /etc/sudoers.d/vagrant
mkdir -p /home/vagrant/.ssh
curl -s -o /home/vagrant/.ssh/authorized_keys ${PACKER_HTTP_SSHPUBKEY}
chown vagrant:vagrant -r /home/vagrant/.ssh
chmod 700 /home/vagrant/.ssh
chmod 600 /home/vagrant/.ssh/authorized_keys
%end

reboot

